*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
width: 100%;
background: #eee;
}

.main-container{
    display: flex;
    width: 100%;
    height: 100vh;
}
.body-nav-bar{
    width: 200px;
    background: #34806dc2;
    height: 100%;
    padding: 10px;
    color: #fff;
}

.body-nav-bar img{
    padding-top:20px 0%;
    width: 100%;
}
.body-nav-bar ul li{
    display: flex;
}
.mt10{
    margin-top: 16px;
}
.body-nav-bar ul li a{
    display: 10px;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding-top: 10px;
}
.body-nav-bar ul li a:hover{
    text-decoration: underline;
    color: #f7b5ecc2;
    background: rgba(0, 255, 136, 0.404);
}
.body-page{
    width: calc(100%-200px);
    height: 100%;
    padding: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    padding: 5px;
    border: 1px solid #34806dc2;
}
th{
    background: #3a5cb850;
    color: #fff;
}
.td-option{
    width: 60px;
}
.div-flex{
    display: flex;
}
.div-td-button{
    width: 60px;
}
.div-td-button button{
    width: 30px;
}