@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
  --green: #0a0613;
  --orange: #f39c12;
  --red: #e74c3c;
  --light-color: #666;
  --white: #fff;
  --light-bg: #f6f6f6;
  --border: .2rem solid var(--black);
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: var(--black);
}

*::selection {
  background-color: var(--green);
  color: var(--white);
}

*::-webkit-scrollbar {
  height: .5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--green);
}

body {
  background-color: var(--light-bg);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

section {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.disabled {
  user-select: none;
  pointer-events: none;
  opacity: .5;
}

.btn,
.btn-form,
.btn-prod,
.delete-btn,
.option-btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-radius: .5rem;
  color: var(--white);
  font-size: 2rem;
  padding: 1.3rem 3rem;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.name_customer{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-btn>* {
  flex: 1;
}

.btn,
.btn-prod,
.delete-btn,
.option-btn,
.btn-form
 {
  background-color: var(--red);
}


.btn:hover,
.btn-prod:hover,
.delete-btn:hover,
.btn-form:hover,
.option-btn:hover {
  background-color: #000000;
}

.flex-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-btn>* {
  flex: 1;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--black);
  font-size: 3.5rem;
}

.mensaje {
  position: sticky;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--light-bg);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  z-index: 10000;
}

.mensaje span {
  font-size: 2rem;
  color: var(--black);
}

.mensaje i {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--red);
}

.mensaje i:hover {
  color: var(--black);
}

.empty {
  padding: 1.5rem;
  background: var(--white);
  color: var(--red);
  border-radius: .5rem;
  border: var(--border);
  font-size: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
}

@keyframes CG {
  0% {
    transform: translateY(1rem);
  }
}

.form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container form {
  width: 50rem;
  background-color: var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  text-align: center;
  padding: 2rem;
}

.form-container form h3 {
  font-size: 3rem;
  color: var(--black);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.form-container form .box {
  width: 100%;
  margin: 1rem 0;
  border-radius: .5rem;
  border: var(--border);
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  background-color: var(--light-bg);
}

.form-container form p {
  margin-top: 2rem;
  font-size: 2.2rem;
  color: var(--light-color);
}

.form-container form p a {
  color: var(--green);
}

.form-container form p a:hover {
  text-decoration: underline;
}

.flex img {
  width: 250px;
  max-width: 250px;
  margin: 0;
}

.header {
  background: #25471e;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}


.header .flex {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--light-bg);
}

.header .flex .navbar a {
  margin: 0 2.5rem;
  font-size: 2rem;
  color: var(--light-bg);
  text-decoration: none;
}

.header .flex .navbar a:hover {
  text-decoration: underline;
  color: var(--red);
}

.header .flex .icons>* {
  font-size: 2.5rem;
  color: var(--light-bg);
  cursor: pointer;
  margin-left: 1.5rem;
}

.header .flex .icons>*:hover {
  color: var(--red);
}

#menu-btn {
  display: none;
}

.header .flex .profile {
  position: absolute;
  top: 120%;
  right: 2rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: .5rem;
  padding: 2rem;
  text-align: center;
  background-color: var(--light-bg);
  width: 30rem;
  display: none;
  animation: CG .2s linear;
}

.header .flex .profile.active {
  display: inline-block;
}

.header .flex .profile a:hover {
  background-color: black;
}

.header .flex .profile a {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.header .flex .profile>*:hover {
  color: rgb(255, 0, 43);
}

.header .flex .profile p {
  padding: 2rem 0;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.fotr {
  background-color: var(--light-color);
}

.fotr .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2.5rem;
  align-items: flex-start;
}

.fotr .box-container .box-icons h3,
.fotr .box-container .box h3 {
  text-transform: uppercase;
  color: var(--light-bg);
  margin-bottom: 1rem;
  font-size: 2rem;
}

.fotr .box-container .box-icons a,
.fotr .box-container .box-icons p,
.fotr .box-container .box a {
  display: block;
  padding: 1.3rem 0;
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.fotr .box-container .box-icons a i,
.fotr .box-container .box-icons p i,
.fotr .box-container .box a i {
  color: rgb(255, 255, 255);
  padding-right: 1rem;
}

.fotr .box-container .box-icons a:hover,
.fotr .box-container .box a:hover {
  text-decoration: underline;
  color: rgb(67, 0, 122);
}

.fotr .credits {
  margin-top: 2rem;
  padding: 2rem 1.5;
  line-height: 1.5;
  border-top: var(--border);
  text-align: center;
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
}

.fotr .credits span {
  color: var(--light-bg);
}

.products .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.tilte{
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--black);
  font-size: 1.5rem;

}


.products .box-container .box-prod{
  text-align: center;
  border-radius:5px;
  box-shadow: var(--box-shadow);
  border: var(--border);
  position: relative;
  padding: 19px;
  background-color: rgb(255, 255, 255);
  width: 350px;
  background: #e4e2e7;
}

.products .box-container .box-prod img{
  height: 275px;
  border: black 5px solid;
  padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.products .box-container .box-prod .name-prod{
  font-size: 21px;
  background-color: #666;
  color: #fff;
  padding: 2.5px 0;
}

.products .box-container .box-prod .desc_prod,
.products .box-container .box-prod .price-prod{
  font-size: 21px;
  padding: 5px 0;
  text-align: justify;
  border: black 2.1px solid;
}


.products .box-container .box-prod .prod_qft{
  margin: .9rem 0;
  border-radius: .5rem;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: #000000;
  width: 100%;
}

.form-doubts {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  --red: #4e2f2b;
  --orange: #746957;
  --black: rgb(56, 33, 33);
  --white: rgb(243, 243, 243);
  --light-bg: rgba(0, 0, 0, 0.24);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --border: 2px solid var(--black);
}

.form-doubts form {
  width: 500px;
  border-radius: 5px;
  border: var(--border);
  padding: 50px;
  text-align: center;
  background-color: var(--white);
}

.form-doubts form h3 {
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: none;
  color: var(--black);
}

.form-doubts form .btn-form {
  width: 100%;
  border-radius: 5px;
  border: var(--border);
  padding: 12px 14px;
  font-size: 18px;
  margin: 10px 0;
}

.form-doubts form .box-form {
  width: 100%;
  border-radius: 5px;
  border: var(--border);
  padding: 12px 14px;
  font-size: 18px;
  margin: 10px 0;
}

.upd-prof form .flex-b{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.upd-prof form{
  max-width: 70rem;
  margin: 0 auto;
  background-color: #e4e2e7;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: .5rem;
  padding: 2rem;
  text-align: center;
}

.upd-prof form .inp-box{
  text-align: left;
  
}

.upd-prof form .inp-box span{
  display: block;
  padding-top: 1rem;
  font-size: 1.8rem;
  color: var(--green);
}

.upd-prof form .box-update{
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border: var(--border);
  border-radius: .5rem;
  margin: 1rem 0;
  background-color: var(--light-bg);
}

.btn-pag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-pag1,
.btn-pag2 {
  margin: 5%;
  border-radius: 20px;
  border: 1px solid rgb(255, 128, 0);
  padding: 1rem;
  color: black;
  text-decoration: none;
  font-size: 2rem;
  background: rgba(170, 168, 168, 0.598);
}

.btn-see-prod{
    margin: 2.5%;
    border-radius: 15px;
    border: 1px solid rgb(255, 128, 0);
    padding: 1rem;
    color: black;
    text-decoration: none;
    font-size: 2rem;
    background: rgba(255, 0, 0, 0.598);
    color: #fff;
}

.btn-see-prod:hover{
  background: rgb(0, 0, 0);
    color: white;
}

.btn-pag1:hover,
.btn-pag2:hover {
  background: rgb(58, 58, 132);
  color: white;
}

.grit-imen-prod {
  display: flex;
  align-items: center;
  justify-content: center;


  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grit-imen-prod:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container-prod {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(270px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-container-prod div {
  justify-content: center;
}

.item1-prod {
  background-color: rgb(200, 193, 192);
  grid-column: 1 / 2;
}

.item2-prod {
  background-color: rgb(200, 193, 193);
  grid-column: 2 / 4;
}

.item3-prod {
  background-color: rgb(200, 193, 191);
  grid-column: 1 / 2;
}

.item3-prod div {
  border-top-width: 10px;
  border-right-width: 1em;
  border-bottom-width: thick;
  border-left-width: thin;
}

.product-small-img-prod img {
  width: 75%;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 8px;
  margin: 2px 2px 2px;
  cursor: pointer;
}

.product-small-img-prod {
  display: flex;
}

.img-container-prod img {
  height: 250px;
}

.product-small-img-prod img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 8px;
  margin: 10px 10px 15px;
  cursor: pointer;
}

.product-small-img-prod {
  display: flex;
}

.product-cart-prod {
  margin: .2rem 0;
  border-radius: .2rem;
  padding: 1.2rem 1.4rem;
  font-size: 1.3rem;
  color: #000000;
}

.btn-cart-prod{
  margin: .2rem 0;
  border-radius: .2rem;
  padding: 1.2rem 1.4rem;
  font-size: 1.3rem;
  color: #000000;
  position: relative;
  top: 50px;
  left: 5px;
}

.produc-cart-prod-nm{
  text-align: center;
  position: relative;
  top: 50px;
  left: 12px;
  font-size: 11px;
}

.produc-cart-prod-nm .prod_qft{
  margin: .2rem 0;
  border-radius: .5rem;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: #000000;
  width: 25%;
}

.name-prod-cart{
  background-color: #dae7de;
  text-align: center;
  position: relative;
  top: -25px;
  left: 22px;
  font-size: 15px;
}

.price-prod-cart {
  background-color: #dbd5cc;
  text-align: center;
  position: relative;
  top: 45px;
  left: -50px;
  font-size: 15px;
}

.description {
  background-color: #dae7ae;
  position: relative;
  top: -88px;
  left: -35px;
  font-size: 18px;
}

.desc_prod-cart {
  background-color: #dae7de;
  text-align: center;
  position: relative;
  top: -35px;
  left: -35px;
  font-size: 15px;
}


#main-t{
  width: 640px;
  margin: 2% auto;
  background-color: #4e2f2b;
}

#lateral1 {
  width: 200px;
  float: left;
  background:#746957 ;
}

#lateral2 {
  width: 140px;
  float: left;
  background: #746957;
}




@media (max-width:991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width:768px) {
  #menu-btn {
    display: inline-block;
    transition: .2s linear;
  }

  .flex img {
    width: 165px;
    max-width: 165px;
    margin: 0;
  }

  .header .flex .navbar {
    border-top: var(--border);
    border-bottom: var(--border);
    background-color: #25471e;
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    transition: .2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .flex .navbar a {
    display: block;
    margin: 2rem;
  }

  .upd-prof form .flex-b{
    flex-flow: column;
    gap: 1.2rem;
  }

  .upd-prof form .flex .inp-box{
    width: 100%;
  }

}

@media (max-width:450px) {
  html {
    font-size: 50%;
  }

  .flex-btn {
    flex-flow: column;
    gap: 0;
  }

  .title {
    font-size: 1rem;
  }

    .btn-pag1,
    .btn-pag2 {
      margin: 2.5%;
      border-radius: 10px;
      border: 1px solid rgb(255, 30, 0);
      padding: .5rem;
      color: black;
      text-decoration: none;
      font-size: 1.5rem;
    }

}